<!-- index.jsで読み込んだdataの変数名をそのまま使用可能 -->
<a href="/#<%= next %>" class="c-arrow__next">
  <%_ if(next !== 'messageSecond'){ _%>
  <span class="c-arrow__next__text"><%= nextJa %></span>
  <%_ } _%>
</a>
