<div class="p-fv__left">
	<h1 class="p-fv__left__heading">
		<span></span><br>
		<span></span><br>
		<span></span><br>
		<!-- WEBSON・そんほんすに<br>
		おまかせください -->
	</h1>
	<img src="./assets/img/fv/code.png" class="p-fv__image" alt="">
</div>
