<header class="l-header">
	<nav class="p-g-nav js-g-nav">
		<ul class="p-g-nav__inner">
			<li class="p-g-nav__item">
				<a href="#works" class="p-g-nav__link p-g-nav__link--works">
					実績
				</a>
			</li>
			<li class="p-g-nav__item">
				<a href="#services" class="p-g-nav__link p-g-nav__link--services">
					サービス
				</a>
			</li>
			<li class="p-g-nav__item p-g-nav__item--icon">
				<a href="/" class="p-g-nav__link--icon">
					<img src="./public/assets/img/ico_webson.png" alt="">
				</a>
			</li>
			<li class="p-g-nav__item">
				<a href="#about" class="p-g-nav__link p-g-nav__link--about">
					アバウト
				</a>
			</li>
			<li class="p-g-nav__item">
				<a href="javascript:void(0)" class="p-g-nav__link p-g-nav__link--contact">
					contact
				</a>
			</li>
		</ul>
	</nav>
</header>
