<header class="l-header">
  <nav class="p-g-nav js-g-nav">
    <ul class="p-g-nav__inner">
      <li class="p-g-nav__item">
        <a href="#works" class="p-g-nav__link p-g-nav__link--works">
          実績
        </a>
      </li>
      <li class="p-g-nav__item">
        <a href="#services" class="p-g-nav__link p-g-nav__link--services">
          サービス
        </a>
      </li>
      <li class="p-g-nav__item">
        <a href="#fv" class="p-g-nav__link p-g-nav__link--icon">
          WEBSON
        </a>
      </li>
      <li class="p-g-nav__item">
        <a href="#about" class="p-g-nav__link p-g-nav__link--about">
          アバウト
        </a>
      </li>
      <li class="p-g-nav__item">
        <a href="#contact" class="p-g-nav__link p-g-nav__link--icon --contact">
          お問い合わせ
        </a>
      </li>
    </ul>
  </nav>
</header>
