<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= path.css %>style.css">
  <!-- <link rel="stylesheet" href="./public/build/style.css"> -->
  <title><%= meta.title %></title>
  <meta name="description" content="<%= meta.desc %>" />
</head>
<body>
