<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- GoogleFonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- swiper.js -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

  <link rel="stylesheet" href="<%= path.css %>style.css">
  <link rel="stylesheet" href="./build/style.css">
  <link rel="icon" href="./favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="apple-touch-icon" href="./apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="./manifest.webmanifest">
  <title><%= meta.title %></title>
  <meta name="description" content="<%= meta.desc %>" />
  <meta property="og:title" content="coding-webson">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://coding.webson.site">
  <meta property="og:image" content="https://coding.webson.site/og_image.png">
  <meta property="og:site_name" content="コーディング代行します｜WEBSON">
  <meta property="og:description" content="ウェブ制作、ウェブ開発WEBSONでコーディング業務を承ります。コーディング実績や代表そんほんすのスキル、経歴をご覧いただくことができます。">
  <meta property="fb:app_id" content="782647713026639">

</head>

<body>
