<div class="p-modal__contents c-inner">
  <button onclick="closeModal()" class="p-modal__close c-button c-button-shadow">
    <span class="c-button__text">
      閉じる
    </span>
  </button>
  <div class="p-modal__profile">
    <figure class="p-modal__face">
      <img src="./assets/img/about/face.jpg" alt="">
    </figure>
    <h2 class="p-modal__profile__name">
      そんほんす
    </h2>
  </div>
  <div class="p-modal__profile__body">

    <p class="p-modal__profile__paragraph">
      くわしいプロフィールをご覧いただきありがとうございます。これまでの経験も含めて、コーディングをしていきたいという思いを感じていただければ嬉しいです。
    </p>
    <h3 class="p-modal__profile__heading">
      教員経験＋教職員組合の運営経験
    </h3>
    <p class="p-modal__profile__paragraph">
      地域で在日外国人の子どもたちのアイデンティティ育成を目的にした学童保育に勤務していましたが、2001年の教員採用試験に合格し、八尾市に教員として赴任しました。
    </p>
    <p class="p-modal__profile__paragraph">

    </p>
    <h3 class="p-modal__profile__heading">経歴</h3>
    <p class="p-modal__profile__paragraph">
      大学卒業後、在日外国人のアイデンティティ育成を目的にした子ども会でスタッフ<br>
      大阪府公立小学校で講師→本採用　教職員組合で役員を経験<br>
      人権教育、生活指導などのマネジメント、日本語指導担当し、市内の担当者ネットワーク運営などにとりくむ。<br>
      ２０２３年３月 退職予定。

    </p>
  </div>
</div>
