<div class="p-modal__contents c-inner">
  <button onclick="closeModal()" class="p-modal__close c-button c-button-shadow">
    <span class="c-button__text">
      閉じる
    </span>
  </button>
  <div class="p-modal__profile">
    <div class="p-modal__profile__overview">
      <figure class="p-modal__face">
        <img src="./assets/img/about/face.jpg" alt="">
      </figure>
      <div class="p-modal__profile__overview-right">
        <h2 class="p-modal__profile__name">
          そんほんす
        </h2>
        <p class="p-modal__profile__desc">
          小学校教員20年以上。48歳から本格的にプログラミング、WEB制作のことを勉強しはじめました。2021年8月1日ウェブ制作・開発フリーランスWEBSONを開業しました。
        </p>
      </div>
    </div>
    <div class="p-modal__profile__career">

      <p class="p-modal__profile__paragraph">
        くわしいプロフィールをご覧いただきありがとうございます。これまでの経験も含めて、コーディングをしていきたいという思いを感じていただければ嬉しいです。
      </p>
      <h3 class="p-modal__profile__heading">
        教員の経歴〜担任＋マネジメント職のキャリア
      </h3>
      <p class="p-modal__profile__paragraph">
        大学卒業後、在日外国人のアイデンティティ育成を目的にした子ども会でスタッフ</p>
      <p class="p-modal__profile__paragraph">
        大阪府公立小学校で講師 → 本採用</p>
      <p class="p-modal__profile__paragraph">
        各学年の担任を経験しつつ、授業研究や人権教育の主担として、チームのマネジメントを担う</p>
      <p class="p-modal__profile__paragraph">
        日本語指導担当となり、海外から編入してきた子どもの日本語や教科の指導にあたる。</p>
      <p class="p-modal__profile__paragraph">
        学校全体の生活指導担当として、学校全体のマネジメントに係る</p>
      <p class="p-modal__profile__paragraph">
        再度日本語指導となり、いくつかの学校を巡回指導したり、市内担当者のネットワーク運営などにとりくむ。
        ２０２３年３月 退職予定。
      </p>
      <h3 class="p-modal__profile__heading">
        教職員組合〜マネジメント＋相談業務で得たもの
      </h3>
      <p class="p-modal__profile__paragraph">
        教職員組合に加入して、青年部長、執行委員、会計委員、書記次長、書記長、執行委員長の役を経験しています。
      </p>
      <p class="p-modal__profile__paragraph">
        2013年から3年間、教員を休職して、組合業務に従事する専従となる。このときに、ホワイトボード・ミーティング®やシステム思考のセミナーに参加して、組織運営やものごとの見方について学びを深めました。
      </p>
      <p class="p-modal__profile__paragraph">
        参考<br>
        <a href="https://wbmf.info/" target="_blank" rel="noopener noreferrer">ホワイトボード・ミーティング®（株式会社ひとまち）</a><br>
        <a href="https://www.change-agent.jp/index.html" target="_blank" rel="noopener noreferrer">システム思考（チェンジ・エージェント）</a>
      </p>

      <p class="p-modal__profile__paragraph">
        ホワイトボード・ミーティング®については、研修を積んで、認定講師の資格を取得。学校、労働組合などにむけてファシリテーションセミナー講師もしています。
      </p>
      <p class="p-modal__profile__paragraph">
        組合の役員経験の中で、教育委員会との折衝、組合員さんからの相談対応など経験しました。相手のことを十分に受け止めて、互いの合意点を探ることなどについて、深く考えることになりました。
      </p>
      <h3 class="p-modal__profile__heading">
        自分の強みICTを生かして、様々な業務改善の実績
      </h3>
      <p class="p-modal__profile__paragraph">
        これまでの業務の中で、ICTを生かしてできることはないかという発想で実現できたことを紹介します。
      </p>
      <p class="p-modal__profile__paragraph">
        いろいろな分類ごとに集計が必要だったテストの集計業務に大きく時間が投下されていたのを見て、自動化できるようにアクセスデータベースを使って集計ソフトを作成。
      </p>
      <p class="p-modal__profile__paragraph">
        学期の終わりの学年会計処理で苦労をしている人が多いのを見て、イレギュラーな処理をわかりやすくしたエクセルシートを作成し、学校全体で使用するようにしました。
      </p>
      <p class="p-modal__profile__paragraph">
        毎日の出欠の集計業務に苦労をしている養護教諭の相談を受けました。OfficeScriptを使って毎日の出欠集計自動化のツールを作成して、現在も稼働中。
      </p>
      <p class="p-modal__profile__paragraph">
        子どもの学習用サイト作成<br>
        <a href="https://takamina-link3.netlify.app/" target="_blank" rel="noopener noreferrer">
          プログラミング、タイピング練習のサイトを集めたリンク集（Gatsbyjs＋Airtavle)
        </a>
        <a href="https://world-greetings-gatsby.netlify.app/" target="_blank" rel="noopener noreferrer">
          いろいろな国のあいさつを練習できるサイト（Gatsbyjs+microCMS)
        </a>
      </p>
      <h3 class="p-modal__profile__heading">
        Over 40 Web Club
      </h3>
      <p class="p-modal__profile__paragraph">
        学習を開始したころに、40歳以上の人のオンラインコミュニティ、Over 40 Web Clubに加入しました。
      </p>
      <p class="p-modal__profile__paragraph">
        ここでは、主にJavaScriptを中心に学ぶことになりました。Reactの基礎、その後、ReactベースのGatsbyjsについて学びはじめました。
      </p>
      <p class="p-modal__profile__paragraph">
        コミュニティ主催で勉強会を開催、そこで4回ほど登壇させていただきました。テーマは次の通りです。
      </p>
			<a href="https://over40webclub.connpass.com/event/201741/" target="_blank" rel="noopener noreferrer">【実演】今話題のGatsbyでポートフォリオサイトをサクッとデプロイ</a><br>
			<a href="https://over40webclub.connpass.com/event/204563/" target="_blank" rel="noopener noreferrer">ヘッドレスWordPress入門</a><br>
			<a href="https://over40webclub.connpass.com/event/204362/" target="_blank" rel="noopener noreferrer">【超入門】Webサイトをデプロイしよう！</a><br>
			<a href="https://over40webclub.connpass.com/event/212129/" target="_blank" rel="noopener noreferrer">ヘッドレスCMSで爆速ブログ構築</a><br>
			<a href="https://over40webclub.connpass.com/event/241732/" target="_blank" rel="noopener noreferrer">サクッとECサイトを構築できるReactベースのHydrogen入門</a>
			<h3 class="p-modal__profile__heading">
これから
			</h3>
      <p class="p-modal__profile__paragraph">
        学校、教職員組合では、ICT、ウェブ周りの技術を駆使して、いろいろな課題の解決にあたってきました。
				これからは、その専門性を更に磨いて、より広範囲なクライアント様の課題を解決していきたいと考えています。
      </p>
    </div>
  </div>
</div>
