  

	<div class="p-services__modal__heading-block">
    <h2 class="p-services__modal__heading">
			<%- servicesList[num].title %>
		</h2>
    <figure class="p-services__modal__image">
      <img src="../assets/img/services/<%= servicesList[num].imgPath %>.png" alt="<%= servicesList[num].imgAlt %>">
    </figure>
  </div>
  <p class="p-services__modal__desc">
		<%- servicesList[num].desc %>
  </p>
