@use "../foundation/variables" as v;

.c-arrow {
  width: 78px;
  position: absolute;
  bottom: 50px;
  left: 50%;
	text-align: center;
  transform: translateX(-50%);
  transition: transform 0.5s;
	line-height: 0;
  &__next__text{
		font-size: 1.4rem;
	}
	&:hover {
    transform: translateX(-50%) rotate(360deg);
  }
  @include v.mq(sm) {
    display: none;
  }
}


.p-fv .c-arrow {
  bottom: 120px;
}

.p-fv__right .c-arrow{
	bottom: 80px;
}
