@use "../foundation/variables" as v;

.c-section {
	background-color: v.$main-secondary;
	&__heading-block{
		display: flex;
		gap: 5%;
		padding-top: 50px;
	}
  &__title {
    position: relative;
    font-weight: 700;
    font-size: 5.2rem;
    text-align: left;
    color: v.$main-primary;
    width: fit-content;
  }
  &__lead {
    width: 80%;
		text-align: justify;
		flex: 1;
		&__text{
			font-size: 2.4rem;
		}
  }
	&__link{
		font-size: 2.4rem;
	}
}
