@use "../foundation/variables" as v;

.c-section {
  background-color: v.$main-secondary;
  &__heading-block {
    display: flex;
    gap: 5%;
    padding-top: 50px;
    @include v.mq(lg) {
      flex-direction: column;
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__title {
    width: fit-content;
    position: relative;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.3;
    text-align: left;
    color: v.$main-primary;
    @include v.mq(lg) {
      font-size: 3.2rem;
    }
  }
  &__lead {
    width: 80%;
    text-align: justify;
    flex: 1;
    @include v.mq(lg) {
      width: 100%;
    }
    &__text {
      font-size: 2.4rem;
      @include v.mq(lg) {
        font-size: 1.8rem;
      }
    }
  }
  &__link {
    font-size: 2.4rem;
    @include v.mq(lg) {
      font-size: 1.8rem;
    }
  }
}
