<div class="c-section__heading-block">
  <h2 class="c-section__title">WEBSON・そんほんすについて</h2>
</div>
<div class="p-about__contents c-inner">
  <div class="p-about__profile">
		<figure class="p-about__face">
			<img src="./assets/img/about/face.jpg" alt="">
		</figure>
		<h3 class="p-about__profile__name">
			そんほんす
		</h3>
		<p class="p-about__profile__desc">
			48歳から本気出してプログラミング、WEB制作のことを勉強しはじめました。2021年8月1日ウェブ制作・開発フリーランスWEBSONを開業しました。
		</p>
  </div>
  <div class="p-about__career">
		【経歴】<br>
    大学卒業後、在日外国人のアイデンティティ育成を目的にした子ども会でスタッフ<br>
    大阪府公立小学校で講師→本採用　教職員組合で役員を経験<br>
    人権教育、生活指導などのマネジメント、日本語指導担当し、市内の担当者ネットワーク運営などにとりくむ。<br>
  	２０２２年３月 退職予定。

		<div class="c-more-info">
      <a href="/" class="c-more-info__link">さらに詳しく</a>
    </div>

  </div>
</div>
