
<div class="c-section__heading-block">
  <h2 class="c-section__title">WEBSON・そんほんすについて</h2>
</div>
<div class="p-about__contents c-inner">
  <div class="p-about__profile">
    <figure class="p-about__face">
      <img src="./assets/img/about/face.jpg" alt="">
    </figure>
    <h3 class="p-about__profile__name">
      そんほんす
    </h3>
    <p class="p-about__profile__desc">
      小学校教員20年以上。48歳から本格的にプログラミング、WEB制作のことを勉強しはじめました。2021年8月1日ウェブ制作・開発フリーランスWEBSONを開業しました。
    </p>
  </div>
  <div class="p-about__career">
		<h3 class="p-about__career__heading">
			コーディング、プログラミングに関わること
		</h3>
    <table class="p-about__career__web">
      <tr class="p-about__career__row">
        <td class="p-about__career__date">
          2020年1月
        </td>
        <td class="p-about__career__content">
          とぎれとぎれだったプログラミング学習に復帰。
        </td>
      </tr>
      <tr class="p-about__career__row">
        <td class="p-about__career__date">
          2020年3月〜
        </td>
        <td class="p-about__career__content">
          Progate web開発パス、Railsチュートリアル完走、Isara模写完成
        </td>
      </tr>
      <tr class="p-about__career__row">
        <td class="p-about__career__date">
          2021年2月〜
        </td>
        <td class="p-about__career__content">
          Over40WebClub主催勉強会登壇（初学者が登壇することで学習内容をアウトプットする趣旨）
        </td>
      </tr>
      <tr class="p-about__career__row">
        <td class="p-about__career__date">
          2021年2月〜
        </td>
        <td class="p-about__career__content">
					教材紹介サイト（13ページ）HTML/CSS〜WordPress化案件、ウェブ制作事業LPコーディング案件納品
        </td>
      </tr>


    </table>

    <button onclick="openModal()" class="p-about__open c-button c-button-shadow">
      <span class="c-button__text">さらに詳しく</span>
    </button>

  </div>

</div>
