<div class="c-section__heading-block">
  <h2 class="c-section__title">お問い合わせ</h2>
  <div class="c-section__lead">
    <p class="c-section__lead__text">
      どんなことでも結構ですので、まずは、こちらからご連絡をくださいませ！
    </p>
  </div>
</div>
<div class="p-contact__contents c-inner">
  <form class="p-contact__form" action="#">
    <div class="p-contact__form__input-area">
      <div class="p-contact__user-info">
        <label class="p-contact__name" for="name">
          お名前
          <input type="text" name="name" id="name" required aria-required="true">
        </label>
        <label class="p-contact__email" for="email">
          メールアドレス
          <input type="email" name="email" id="email" required aria-required="true">
        </label>
      </div>
      <div class="p-contact__inquiry-wrapper">
        <label class="p-contact__inquiry" for="inquiry">お問い合わせの内容</label>
        <textarea name="inquiry" id="inquiry" cols="30" rows="5" required aria-required="true"></textarea>
      </div>
    </div>
    <button class="c-button c-button-shadow" type="submit">
      <span class="c-button__text">
        送信する
      </span>
    </button>
  </form>
</div>
<footer class="l-footer js-footer">
  <nav class="l-footer__nav">
    <ul class="l-footer__menu">
      <li class="l-footer__menu__item">
        <a href="#" class="js-footer__link">WEBSON</a>
      </li>
      <li class="l-footer__menu__item">
        <a href="#works" class="js-footer__link">実績</a>
      </li>
      <li class="l-footer__menu__item">
        <a href="#services" class="js-footer__link">サービス</a>
      </li>
      <li class="l-footer__menu__item">
        <a href="#about" class="js-footer__link">アバウト</a>
      </li>
      <li class="l-footer__menu__item">
        <a href="#contact" class="js-footer__link">お問い合わせ</a>
      </li>
    </ul>
  </nav>
  <p class="l-footer__copyright">©2022 WEBSON そんほんす</p>
</footer>
