<%- include('../_fv-left')%>

<div class="p-fv__right">
	<div class="p-fv__msg --first">
		<p class="p-fv__text">・サイトへのご訪問ありがとうございます。</p>
		<p class="p-fv__text">・コーディングスキルで、貴社事業の成長につながるお手伝いをさせていただきたいと考えています。</p>
		<p class="p-fv__text">・軽微な修正、更新業務など外注しづらい案件にも対応いたします。</p>
		<p class="p-fv__text">・まずは、ご連絡いただき、そんほんすのことを知っていただければうれしいです。</p>
		<a class="p-fv__link" href="sbout">そんほんすについて</a>
		<div class="c-arrow">
			<%- include('../_c-arrow__next', {$link:'works'}) -%>
		</div>
	</div>
	<div class="p-fv__msg --second">
		<h2 class="p-fv__right__heading">WEBSON・そんほんすのコーディング業務について</h2>
		<p class="p-fv__text">・サイトの成長のために、適切なタグ使用、構造、保守性の高いCSSを追求します。</p>
		<p class="p-fv__text">・WordPressテーマカスタマイズ、オリジナルテーマ、GatsbyJSでのサイト構築に対応します。</p>
		<p class="p-fv__text">・サーバー、Git、ワークフローの自動化など周辺技術も大事にして業務の効率化をはかります。</p>
		<a class="p-fv__link" href="sbout">スキルについて</a>
	</div>
</div>
