<div class="c-section__heading-block">
  <h2 class="c-section__title">サービス</h2>
  <div class="c-section__lead">
    <p class="c-section__lead__text">コーディング実績の一部をご紹介します。コーディング以外の活動や実績の紹介もしています。
      <a href="/" class="c-section__link" target="_blank" rel="noopener noreferrer">
        さらに詳しく
      </a>
    </p>
  </div>
</div>
<div class="p-services__contents c-inner">
  <ul class="p-services__list">
    <li class="p-servies__item">
      <div class="p-services__item__inner">
        <h2 class="p-services__item__heading">
          HTML/CSS/JavaScriptコーディング
        </h2>
        <figure class="p-services__item__icon">
          アイコン
        </figure>
        <div class="c-more-info">
          <a href="さらに詳しく" class="c-more-info__link">さらに詳しく</a>
        </div>
      </div>
    </li>
  </ul>
</div>
