

<div class="test__container">
	<div class="modal__container">
		<div class="modal__container__inner">
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>
			<h2>test contents</h2>

		</div>
	</div>
  <h1>メインコンテンツ</h1>
  <button class="open">OPEN</button>
  <button class="close">CLOSE</button>

  <div class="image-area">
    <figure class="image">
      <img src="https://source.unsplash.com/random" alt="">
    </figure>
    <figure class="image">
      <img src="https://source.unsplash.com/random" alt="">
    </figure>
    <figure class="image">
      <img src="https://source.unsplash.com/random" alt="">
    </figure>
    <figure class="image">
      <img src="https://source.unsplash.com/random" alt="">
    </figure>
    <figure class="image">
      <img src="https://source.unsplash.com/random" alt="">
    </figure>
    <figure class="image">
      <img src="https://source.unsplash.com/random" alt="">
    </figure>

  </div>

</div>
