<div class="c-section__heading-block">
  <h2 class="c-section__title">コーディング実績</h2>
  <div class="c-section__lead">
    <p class="c-section__lead__text">コーディング実績の一部をご紹介します。コーディング以外の活動や実績の紹介もしています。
      <a href="https://portfolio.horumont.info/archive-works" class="c-section__link" target="_blank" rel="noopener noreferrer">
        → こちら
      </a>
    </p>
  </div>
</div>
<div class="p-works__contents swiper">
  <ul class="p-works__list swiper-wrapper">
    <%_ for(let i=0; i < worksList.length; i++){ _%>
    <%- include('../../_partials/_workItem',{num:i})%>
    <%_ } _%>
  </ul>
	<!-- <div class="swiper-pagination"></div> -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
