<div class="p-modal__contents c-inner">
  <button onclick="closeModal()" class="p-modal__close c-button c-button-shadow">
    <span class="c-button__text">
      閉じる
    </span>
  </button>
  
</div>
