@use "../foundation/variables" as v;

.p-about__contents {
  margin-top: 20px;
  display: flex;
  gap: 5%;
  height: 80%;
  @include v.mq(lg) {
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

.p-about__profile {
  flex: 1;
  &__name {
    text-align: center;
    font-size: 3.6rem;
    @include v.mq(lg) {
      font-size: 2rem;
    }
  }
  &__desc {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 1.8;
    @include v.mq(lg) {
      font-size: 1.8rem;
    }
  }
}
.p-about__career {
  flex: 3;
  text-align: justify;
  font-size: 2.4rem;
  line-height: 1.8;
  @include v.mq(lg) {
    font-size: 1.8rem;
  }
}

.p-about__career {
  &__web {
    font-size: 2rem;
    width: 100%;
    td {
      padding: 4px 2%;
    }
  }
  &__date {
    width: 20%;
    // background-color: pink;
  }
  &__content {
    width: 80%;
    // background-color: yellow;
  }
}

.p-about__face {
  width: 200px;
  border-radius: 100vh;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.p-about__modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  // overflow: scroll;
  &.open {
    display: block;
  }
}

.p-modal__contents {
  // background-color: #fff;
	background-image: url('../assets/img/about/profile-bg.jpeg');
  padding: 60px 12%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
  text-align: justify;
}

.p-modal__face {
  width: 100px;
}

.p-modal__profile__body {
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.p-modal__close {
  position: sticky;
  top: 0;
  margin-left: auto;
  font-size: 2rem;
}
