@use "../foundation/variables" as v;

.p-work-detail__outer {
  height: 90vh;
}

.p-work-detail {
  // display: none;
  width: 90vw;
  height: 90vh;
  background-image: url("../assets/img/works/bg-img-white.jpg");
  background-size: cover;
  position: fixed;
  border: 8px dotted v.$main-primary;
  // outline-offset: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  clip-path: circle(0% at 70% 75%);
  transition: 1s;
  overflow: auto;
  @include v.mq(lg) {
    clip-path: circle(0%);
    width: 99vw;
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: auto;
  }
  &.open {
    clip-path: circle(120% at 70% 75%);
    transition: 2s;
    @include v.mq(lg) {
      clip-path: circle(120%);
    }
  }
  .c-inner {
    padding: 80px 5%;
    @include v.mq(lg) {
      padding-top: 40px;
      z-index: 1;
    }
  }
}

.p-work-detail__eyecatch {
  margin-top: -100px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  @include v.mq(lg) {
    margin-top: 0;
  }
}

.p-work-detail {
  .c-section__heading-block {
    padding-top: 0;
    margin-top: -50px;
    @include v.mq(lg) {
      margin-top: 0;
      width: 100%;
    }
  }
  .c-button {
    position: sticky;
    margin-left: auto;
    top: 7%;
    right: 9%;
    @include v.mq(lg) {
      margin-top: 20px;
      margin-bottom: 20px;
      z-index: 2;
    }
  }
}

.p-work-detail__arrow {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../assets/img/scroll-down.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: v.$shadow-cBlue;
  border-radius: 100vh;
  &__text {
    position: absolute;
    bottom: -5px;
  }
  @include v.mq(lg) {
    display: none;
  }
}

.p-work-detail__article {
  margin-top: 120px;
}

.p-work-detail__item {
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  // gap: 32px;
  & + li {
    margin-top: 100px;
  }
  @include v.mq(lg) {
    flex-direction: column;
  }
}

.p-work-detail__2column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin-top: 20px;
	@include v.mq(md){
		flex-direction: column;
	}
}

.p-work-detail__image {
  border: 1px solid v.$shadow-cBlue;
  // flex: 1;
  width: 40%;
	@include v.mq(md){
		width: 100%;
	}
  img {
    object-fit: cover;
  }
}

.p-work-detail__text {
  flex: 1;
  padding: 0px 3% 10px;
	@include v.mq(md){
			width: 100%;
	}
}

.p-work-detail {
  &__heading {
    font-size: 3.2rem;
    text-decoration: underline;
    text-underline-offset: -10px;
    text-decoration-color: v.$accent-primary;
    text-decoration-thickness: 15px;
    text-decoration-skip-ink: none;
  }
  &__responsible {
    margin-top: 10px;
    font-size: 2.4rem;
  }
  &__desc {
    margin-top: 10px;
    font-size: 2rem;
  }
  &__body {
    // margin-top: 20px;
    font-size: 2rem;
  }
}
