<%_
servicesList = [
	{
		title:"HTML / CSS / <br>JavaScript",
		link: "/coding",
		imgPath: "ico-code",
		imgAlt: "HTML/CSS/JavaScriptのアイコン",
		desc: `
		<ul>
			<li>
				デザインを<b>忠実に再現</b>することを優先しつつ、デザイナーの意図やサイト、クライアントの目的を考えて、実装にあたります。
				</li>
			<li>
				いろいろと考えたことについては、<b>綿密なコミュニケーション</b>をとりながら、作業をすすめたいと考えています。
				</li>
			<li>
				適切な場所に適切なタグを使用する<b>セマンティックなHTML</b>を意識しています。
				</li>
			<li>
				コーディングルールなどがございましたら、<b>忠実に守って</b>コーディングをいたします。
				</li>
			<li>
				GitHub,Bitbucketなどの使用も可能です。また、npmScriptなどを使用した効率化も意識して作業を進めています。
				</li>
			<li>
				GitHub,Bitbucketなどの使用も可能です。また、npmScriptなどを使用した効率化も意識して作業を進めています。
				</li>
			<li>
				GitHub,Bitbucketなどの使用も可能です。また、npmScriptなどを使用した効率化も意識して作業を進めています。
				</li>
			<li>
				GitHub,Bitbucketなどの使用も可能です。また、npmScriptなどを使用した効率化も意識して作業を進めています。
				</li>
		</ul>
		`,
	},
	{
		title:"Wordpress",
		link: "/wordpress",
		imgPath: "ico-wp",
		imgAlt: "WordPressのアイコン",
		desc: `
		<ul>
			<li>
				WordPressのテーマを使ったサイトの構築、テーマカスタマイズでの実装、オリジナルテーマ作成まで請け負うことができます。
				</li>
			<li>
				検索、カスタム機能などについては、プラグインで実装、プラグインなしで実装など、ご要望に応じて対応いたします。
				</li>
			<li>
				必要に応じて、記事等更新マニュアルの作成も可能です。教員経験を生かして、わかりやすいマニュアルを作成します。
				</li>
			<li>
				必要に応じて、記事等更新マニュアルの作成も可能です。教員経験を生かして、わかりやすいマニュアルを作成します。
				</li>
			<li>
				必要に応じて、記事等更新マニュアルの作成も可能です。教員経験を生かして、わかりやすいマニュアルを作成します。
				</li>
			<li>
				必要に応じて、記事等更新マニュアルの作成も可能です。教員経験を生かして、わかりやすいマニュアルを作成します。
				</li>
			<li>
				必要に応じて、記事等更新マニュアルの作成も可能です。教員経験を生かして、わかりやすいマニュアルを作成します。
				</li>
			<li>
				必要に応じて、記事等更新マニュアルの作成も可能です。教員経験を生かして、わかりやすいマニュアルを作成します。
				</li>
			<li>
				必要に応じて、記事等更新マニュアルの作成も可能です。教員経験を生かして、わかりやすいマニュアルを作成します。
				</li>
		</ul>
		`,
	},
	{
		title:"Gatsby.js",
		link: "/gatsbyjs",
		imgPath: "ico-gatsby",
		imgAlt: "Gatsby.jsのアイコン",
		desc: `
		<ul>
			<li>
				<b>静的サイトジェネレーターGatsby.js</b>を使用したサイト構築ができます。
				</li>
			<li>
				事前ビルドによって、静的サイトとして公開できるので、<b>様々なメリット</b>があります。
				</li>
			<li>
				<b>表示スピードの速さ、画像の最適化</b>などで、SEOに強いサイトが構築できます。
				</li>
			<li>
				ヘッドレスCMS（主にmicroCMS）を使用して、<b>更新しやすいブログ機能</b>の実装も可能です。
				</li>
		</ul>
		`,
	},


]
_%>
