<%_
servicesList = [
	{
		title:"HTML/CSS/<br>JavaScript",
		link: "/coding",
		imgPath: "ico-code",
		desc: `
		<ul>
			<li>トップページのアニメーション</li>
			<li>pictureタグで画像の出し分け </li>
			<li> FLOCSS、BEMを基本にコーディングトップページのアニメーション </li>
			<li> pictureタグで画像の出し分け </li><li> FLOCSS、BEMを基本にコーディングトップページのアニメーション </li>
			<li> pictureタグで画像の出し分け </li>
			<li> FLOCSS、BEMを基本にコーディング</li>
		</ul>
		`,
	},
	{
		title:"Wordpress",
		link: "/wordpress",
		imgPath: "ico-wp",
		desc: "トップページのアニメーション <br> pictureタグで画像の出し分け / FLOCSS、BEMを基本にコーディングトップページのアニメーション / pictureタグで画像の出し分け / FLOCSS、BEMを基本にコーディングトップページのアニメーション / pictureタグで画像の出し分け / FLOCSS、BEMを基本にコーディング",
	},
	{
		title:"Gatsby.js",
		link: "/gatsbyjs",
		imgPath: "ico-gatsby",
		desc: "トップページのアニメーション <br> pictureタグで画像の出し分け / FLOCSS、BEMを基本にコーディングトップページのアニメーション / pictureタグで画像の出し分け / FLOCSS、BEMを基本にコーディングトップページのアニメーション / pictureタグで画像の出し分け / FLOCSS、BEMを基本にコーディング",
	},


]
_%>
