<%- include('./_data/_index_data') %>
<%- include('./_includes/_head') %>
<!-- <%- include('./_includes/_header')%> -->


<main class="main">
  <section class="p-wrok-detail">
    <div class="c-inner">
      <div class="c-section__heading-block">
        <h2 class="c-section__title">建設会社</h2>
      </div>
    </div>
    <figure class="p-work-detail__eyecatch">
      <img src="./assets/img/works/const-company_mockup.png" alt="">
    </figure>
  </section>
</main>

<%- include('./_includes/_footer')%>
