<%- include('./_data/_index_data') %>
<%- include('./_includes/_head') %>
<%- include('./_includes/_header')%>

<main class="main">
  <div class="l-snap-container">
    <div class="l-fv-1 l-snap-item">fv1</div>
    <div class="l-fv-2 l-snap-item">fv2</div>
    <div class="l-works l-snap-item">works</div>
    <div class="l-services l-snap-item">services</div>
    <div class="l-about l-snap-item">
			<h1>about</h1>
			<div class="l-contact">contact</div>
		</div>
    <%- include('./_includes/_footer')%>


  </div>
</main>
