<%_ if(num===0){_%>
<article class="product product--wp product--new">
  <%_ }else{_%>
  <article class="product product--wp">
    <%_}_%>
    <div class="product__inner">
      <div class="product__info">
        <h3 class="product__title"><%- itemList[num].title %></h3>
        <a href="<%- itemList[num].link %>" class="c-primary-btn u-mt10">詳しくはコチラ</a>
      </div>
      <img src="<%- path.img + itemList[num].img %>" alt="" class="product__cap">
    </div>
  </article>
