<li class="p-services__item">
	<div class="p-services__item__inner">
		<h2 class="p-services__item__heading">
			<%= servicesList[num].title %>
		</h2>
		<figure class="p-services__item__icon">
			<img src="../assets/img/services/<%= servicesList[num].imgPath %>
			.png" alt="">
		</figure>
		<div class="c-more-info">
			<a href="さらに詳しく" class="c-more-info__link">さらに詳しく</a>
		</div>
	</div>
	<div class="p-services__item__desc">
		<%= servicesList[num].desc %>

	</div>
</li>
