<li class="p-services__item js-services__item">
  <div class="p-services__item__heading-block">
    <h2 class="p-services__item__heading">
      <%- servicesList[num].title %>
    </h2>
    <figure class="p-services__item__icon">
      <img src="../assets/img/services/<%= servicesList[num].imgPath %>
			.png" alt="">
    </figure>


    <button class="c-button js-services-button c-button-shadow">
			<span class="c-button__text js-services-button__text">
				詳しく
			</span>
		</button>

  </div>
  <div class="p-services__item__desc">
		<div class="p-services__item__desc__inner">
			<%- servicesList[num].desc %>
		</div>
  </div>
</li>
